// @import './themes/edge-neon.scss';
@import './themes/solarized-andromeda.scss';

.bg-red {
  background-color: $red;
}

* {
  all: unset; // Unset everything so I can style from scratch
}

window {
  background-color: $bgcolor;
}

progress {
  border-radius: 5px;
}

.progress {
  background-color: $grey;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 13px;
  min-width: 233px;
}

.label {
  all: unset;
  margin-right: 5px;
  color: $fgcolor;
  font-size: 40px;
}

.ram_used progress {
  background-color: $yellow;
}

.ram_used .label {
  color: $yellow;
}

.storage_used progress {
  background-color: $purple;
}

.storage_used .label {
  color: $purple;
}

.light_percentage progress {
  background-color: $green;
}

.light_percentage .label {
  color: $green;
}

.clock {
  background-color: $bgcolor;
  color: $fgcolor;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 90px;
  font-weight: lighter;
}

.clock-minute {
  color: $aqua;
  padding-left: 15px;
}

.row {
  margin-top: 5px;
}

.resource_usage {
  background-color: $bgcolor;
  color: $fgcolor;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

.mpd_playing {
  background-color: $bgcolor;
  color: $fgcolor;
  padding-top: 10px;
  padding-bottom: 00px;
  padding-left: 30px;
  padding-right: 30px;
  min-width: 318px;
}

.mpd_playing .label {
  color: $blue;
  font-size: 100px;
}

.mpd_labels {
  margin-left: 8px;
  margin-top: 30px;
  margin-bottom: 50px;
  min-width: 256px;
}

.title-label {
  font-size: 19px;
  // font-weight: lighter;
  color: $blue;
}

.artist-label {
  // font-weight: 400;
  font-weight: lighter;
  // color: $blue;
}

.calendar {
  background-color: $bgcolor;
  color: $bgcolor;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  min-width: 318px;
}

.cal-day {
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: $green;
  padding: 5px;
  min-width: 295px;
  margin: 2px;
}

.cal-progress {
  min-width: 5px;
  border-radius: 2px;
  background-color: $bgcolor;
  margin-right: 10px;
}
